.card {
  margin: 2rem 2rem 2rem 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  width: 250px;
  box-shadow: 0 0 28px 4px rgb(71, 71, 71);
  transition: transform 0.3s ease;
  border-radius: 25px;
}

.card:hover {
  transform: scale(1.1);
}

.card__title {
  font-weight: 800;
  font-size: 1.5rem;
  color: #64ffda;
  text-align: center;
}

.card__image {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.card__image img {
  border-radius: 50%;
}
